<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-card dark>
          <v-img src="@/assets/logo.png"
                 contain
                 eager
                 height="100px"
                 to=""></v-img>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {}
</script>