<template>
  <v-container app
               fluid>

    <v-layout column class="pl-2 pr-2">

      <!-- LOADER -->
      <v-flex shrink
              v-if="loading">
        <v-progress-linear indeterminate></v-progress-linear>
      </v-flex>

      <!-- CONTROLS -->
      <v-flex>

        <v-form ref="form"
                v-model="valid"
                style="width: 100%">
          <v-row>
            <v-col cols="12">
              <v-text-field v-model="email"
                            type="email"
                            label="Email address *"
                            required
                            :rules="emailRules"></v-text-field>
              <v-text-field v-model="password"
                            type="password"
                            label="Password *"
                            required
                            :rules="passwordRules"></v-text-field>
            </v-col>
            <v-col v-if="hasError"
                   class="pt-0">
              <span class="error--text caption">{{error}}</span>
            </v-col>
            <v-col cols="12"
                   align="end">
              <v-btn @click="login"
                     large
                     color="primary">Login</v-btn>
            </v-col>
          </v-row>
        </v-form>

      </v-flex>

    </v-layout>

  </v-container>
</template>

<script>
export default {
  data: () => ({
    valid: false,
    email: '',
    password: '',
    loading: false,
    error: '',
    emailRules: [
      v => !!v || 'E-mail is required',
      v =>
        /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
        'E-mail must be valid'
    ],
    passwordRules: [v => !!v || 'Password is required']
  }),
  mounted() {
    if (this.$store.getters['authorized']) {
      this.$router.push({ name: 'verify' })
    }
  },
  methods: {
    async login() {
      this.error = ''
      this.loading = true

      await this.$firebaseService.auth
        .signInWithEmailAndPassword(this.email, this.password)
        .then(token => {
          this.$router.push({ name: 'verify' })
        })
        .catch(error => {
          this.error = error.message
        })

      this.loading = false
    }
  },
  computed: {
    hasError() {
      return this.error && this.error.length > 0
    }
  }
}
</script>