<template>
  <v-app-bar app
             dark>
    <v-row>
      <v-col cols="12"
             md="10"
             sm="12"
             offset-md="1">
        <v-row>
          <v-toolbar-title>
            F5 Solutions (pty) Ltd
          </v-toolbar-title>

          <v-spacer></v-spacer>

          <v-btn v-for="item in navigationItems"
                 :key="item.name"
                 :to="item.to"
                 class="mr-2"
                 outline
                 exact>
            {{item.name}}
          </v-btn>
        </v-row>
      </v-col>
    </v-row>

  </v-app-bar>

</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    navigationItems: [
      {
        name: 'Home',
        to: {
          name: 'home'
        }
      },
      {
        name: 'Login',
        to: {
          name: 'login'
        }
      }
    ]
  }),
  methods: {
    async logout() {
      await this.$firebaseService.auth.signOut()
      if (this.$route.name === 'login') {
        this.$router.go(0)
      } else {
        this.$router.push({ name: 'login' })
      }
    }
  },
  computed: {
    ...mapGetters({
      authorized: 'authorized'
    })
  }
}
</script>

<style>
.topBar {
  height: 100%;
  border-bottom: 1px solid #f5a483;
}

.v-toolbar__content {
  padding: 0 !important;
}
</style>