<template>
  <v-app>
    <app-bar></app-bar>

    <v-content class="greyBackground">
      <v-container fill-height
                   style="align-items: start;"
                   class="whiteBackground elevation-2">
        <router-view></router-view>
      </v-container>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'
import AppBar from '@/components/AppBar.vue'

export default Vue.extend({
  name: 'App',
  components: {
    AppBar
  }
})
</script>

<style>
html,
body {
  overflow-x: hidden !important;
}

.blackBackground {
  background: black;
}

.whiteBackground {
  background: white;
}

.primaryBackground {
  background: #1dcdc1;
}

.greyBackground {
  background: #f5f5f5;
  height: 100%;
}
</style>